<h1 class="title">Pagina Principal</h1>
<h2>Que es shopLayout?</h2>
<p>Maecenas tincidunt massa ligula, id iaculis nibh finibus quis. Maecenas eget tempus tellus. Vivamus aliquam, turpis
  accumsan cursus auctor, nunc lorem euismod leo, non lacinia sapien nisl vel mauris. Donec vulputate pulvinar tellus,
  eu pulvinar ipsum ullamcorper at. Morbi vitae mollis dui. Class aptent taciti sociosqu ad litora torquent per conubia
  nostra, per inceptos himenaeos. Integer malesuada vitae nulla ac maximus.</p>

<h2>Ultimos productos</h2>
<div class="items">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
<h2>Cual es nuestra metodología?</h2>
<p>Aliquam non metus nisl. Praesent facilisis auctor metus, vulputate porttitor nisi. Morbi ornare vitae massa non
  suscipit. Donec sed odio maximus, tempor justo id, fringilla eros. Sed volutpat metus viverra, placerat lacus vitae,
  lobortis lectus. Suspendisse interdum, odio ac pellentesque viverra, odio sapien euismod orci, vitae gravida sem arcu
  eu odio. Nam commodo dictum tincidunt.<br/>
  
  Etiam vel molestie neque. Sed accumsan augue vel odio molestie, sit amet pharetra lacus tempor. Donec vulputate libero
  a augue vulputate, vitae scelerisque ligula dapibus. Donec feugiat felis ac diam pretium venenatis. Duis euismod massa
  ac scelerisque pharetra. Aliquam posuere ac mauris in semper. Pellentesque ac convallis enim, non rhoncus ex. Quisque
  feugiat convallis elementum.</p>
<h2>Ultimos servicios</h2>
<div class="items">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
