<header id="header">
  <div class="logo">
    <a [routerLink]="['']">Shop Layout</a>
  </div>
  <ul>
    <li><a [routerLink]="['products']">Productos</a></li>
    <li><a [routerLink]="['services']">Servicios</a></li>
    <li><a [routerLink]="['about-us']">Nosotros</a></li>
    <li ><a *ngIf="user;then Perfil else Inicia"></a></li>
  </ul>
</header>

<div class="outlet">
  <router-outlet></router-outlet>
</div>

<footer id="footer">
  Todos los derechos reservados &copy; Juan Esteban Arango Zapata 2021
</footer>

<!--Templates-->
<ng-template #Inicia>
  <a [routerLink]="['register']">Inicia</a>
</ng-template>
<ng-template #Perfil>
  <a [routerLink]="['profile']">Perfil</a>
</ng-template>